<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="../styles/styles.css">
    <title>Primera Entrega JS</title>
</head>

<body class="body" >

<div id="contenedor_general">
    <div class="contenedor" id="contenedor_msjs">
        <h1 id="h1_mensajes">Bienvenido!</h1>
        <p id="p_letras_ingresadas">Letras Seleccionadas: </p>
    </div>

    <div class="contenedor" id="contenedor_nivel">

        <form>

                <legend>Nivel de Dificultad</legend>

                <input type="radio" class="radios" name="dificultad" value="facil" checked> Fácil

                <input type="radio" class="radios" name="dificultad" value="intermedio"> Intermedio

                <input type="radio" class="radios" name="dificultad" value="dificil"> Difícil

        </form>
        <button class="boton" id="btn_inicio">Inicio</button>

    </div>




    <div class="contenedor" id="contenedor_pista">

        <p id="p_cantidad_letras"></p>
        <p id="p_pista"></p>


    </div>

    <div class="contenedor" id="contenedor_img">
        <img src="../img/ahorcado6.svg" alt="imagen mástil ahorcado vacio" id="img_ahorcado">
        <p id="p_palabra_oculta">?</p>
    </div>



    <div class="contenedor" id="contenedor_arriesgar_letra" >

        <label for="letra_usuario" id="label_letra_usuario">Ingresa tu letra</label>
        <input type="text" name="letra_usuario" id="letra_usuario" maxlength="1" autofocus placeholder="...">
        <button class="boton" id="btn_arriesgar_letra" disabled>Arriesgar Letra</button>

    </div>
    <div class="contenedor" id="contenedor_arriesgar_palabra">

        <label for="palabra_usuario">Arriesga una palabra</label>
        <input type="text" name="palabra_usuario" id="palabra_usuario" placeholder="...">
        <button class="boton" id="btn_arriesgar_palabra" disabled>Arriesgar Palabra</button>

    </div>
</div>


    <div id="contenedor_apis">
        <div class="contenido_api" id="api_a">
            <p id="p_latitud">esperando...</p>
            <p id="p_longitud"></p>
        </div>
    </div>


    <!-- SCRIPTS -->

    <script src="../Scripts/play.js"></script>
</body>

</html>