/**
* 01. RESET
*
*------------------------------------------------------------------------------------------------------------
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .body{
    display: grid;
    grid-template-areas: 
        "juego juego juego api";
    grid-template-columns: repeat(4,1fr);
    background-image: url(../img/school-photo-frame-_1.jpg);
    background-size:contain;
}

#contenedor_general{
    color: black;
    width: 80%;
    height: 90vh;
    margin: 5vh auto;
    padding: 10px;
    grid-area: juego;
    display: grid;
    grid-template-areas: 
        "pista msjs img"
        "pista msjs img"
        "nivel letra palabra";
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 30px;
    
}

p{
    font-size: 1.6rem;
}

label{
    font-size: 1.6rem;
}

input{
    font-size: 1.6rem;
}

#contenedor_pista{
    grid-area: pista;
    background-color:darkmagenta;
    text-align: center;
    height: 58vh;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.802);
}

#contenedor_msjs{
    grid-area: msjs;
    background-color: red;
    display: flex;
    text-align: center;
    height: 58vh;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.802);
}

#contenedor_img{
    grid-area: img;
    background-color: rgb(181, 181, 242);
    color: black;
    height: 58vh;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.802);    
}

#contenedor_nivel{
    grid-area: nivel;
    background-color: green;
    font-size: 25px;
    height: 29vh;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.802);
}


#contenedor_arriesgar_letra{
    grid-area: letra;
    background-color:aquamarine;
    font-size: 25px;
    height: 29vh;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.802);
}

#contenedor_arriesgar_palabra{
    grid-area: palabra;
    background-color:blueviolet;
    height: 29vh;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.802);
}

#contenedor_apis{
    height: 90vh;
    grid-area: api;
    display: grid;
    grid-template-areas:
    "api_a"
    "api_b"
    "api_c";    
    background-color: transparent;
    color: aliceblue;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.802);
    width: 85%;
    margin: 5vh auto 5vh 0;
    /* padding: 10px; */
    row-gap: 10px;
}


#api_a{
    background-color: brown;
}
#api_b{
    background-color: grey;
}
#api_c{
    background-color: teal;
}

.contenido_api{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.802);
}

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15px;
}




.boton{
    width: 150px;
    height: 70px;
    font-size: 1.5rem;
    letter-spacing: 4px;
    cursor: pointer;
}

#img_ahorcado{
    width: 200px;
    height: 300px;
}



.ocultar_seccion{
    display: none;
}


/* media query Mobile */
@media only screen and (max-width: 424px) {
    .body{
        display: grid;
        grid-template-areas: 
            "img nivel" 
            "img letra"
            "img palabra"
            "pista msjs";
        grid-template-columns: repeat(2,1fr);
        background-color: white;
        color: red;
    }

    #contenedor_arriesgar_letra{
        display: grid;
        grid-template-areas:
        "titulo titulo"
        "input boton";
        grid-template-columns: repeat(2,1fr);
        

        height: 15vh;
    }

    #label_letra_usuario{
        grid-area: titulo;
        text-align: center;
        color: black;
        font-size: 20px;
    }

    #letra_usuario{
        grid-area: input;
        width: 60px;
        height: 40px;        
    }

    #btn_arriesgar_letra{
        grid-area: boton;
        width: 70px;
        height: 40px;
    }

    #contenedor_arriesgar_palabra{
        height: 15vh;
    }

    #contenedor_nivel{
        height: 20vh;
    }

  }