/**
* 01. RESET
*
*------------------------------------------------------------------------------------------------------------
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.body{
    display: grid;
    grid-template-areas: 
        "img msjs pista"
        "img msjs pista" 
        "nivel letra palabra";
    grid-template-columns: repeat(3,1fr);
    background-color: white;
    color: red;
}


/* media query Mobile */
@media only screen and (max-width: 424px) {
    .body{
        display: grid;
        grid-template-areas: 
            "img nivel" 
            "img letra"
            "img palabra"
            "pista msjs";
        grid-template-columns: repeat(2,1fr);
        background-color: white;
        color: red;
    }

    #contenedor_arriesgar_letra{
        display: grid;
        grid-template-areas:
        "titulo titulo"
        "input boton";
        grid-template-columns: repeat(2,1fr);
        

        height: 15vh;
    }

    #label_letra_usuario{
        grid-area: titulo;
        text-align: center;
        color: black;
        font-size: 20px;
    }

    #letra_usuario{
        grid-area: input;
        width: 60px;
        height: 40px;        
    }

    #btn_arriesgar_letra{
        grid-area: boton;
        width: 70px;
        height: 40px;
    }

    #contenedor_arriesgar_palabra{
        height: 15vh;
    }

    #contenedor_nivel{
        height: 20vh;
    }

  }


#contenedor_msjs{
    grid-area: msjs;
    background-color: aquamarine;
    display: flex;
    text-align: center;
}

#contenedor_img{
    grid-area: img;
    background-color: gray;
}

#contenedor_nivel{
    grid-area: nivel;
    background-color: black;
}


#contenedor_arriesgar_letra{
    grid-area: letra;
    background-color: cadetblue;
}

#contenedor_arriesgar_palabra{
    grid-area: palabra;
    background-color: wheat;
}

#contenedor_pista{
    grid-area: pista;
    background-color: yellow;
}

.contenedor{
    width: 100%;
    height: 100%;
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.boton{
    width: 100px;
    height: 30px;
    font-size: 1rem;
    letter-spacing: 4px;
    cursor: pointer;
}

#img_ahorcado{
    width: 150px;
    height: 300px;
}



.ocultar_seccion{
    display: none;
}